#createProject_box{
    display: flex;
    color: #666666;
    border-bottom: #DCCEDF thin solid;
    padding: 10px 0 10px 0;
    width: 100%;
}
.createProject_form{
    background-color: white;
    flex:1;
    padding: 20px;
    margin: 10px;
}
.createProject_title{
    color: #444444;
    font-weight: bold;
}
.buttonGroup{
    height: 30px;
    padding: 5px 0 5px 0;
    text-align: right;
}
.buttonGroup button{
    height: 30px;
    margin-left: 10px;
    width: 80px;
    border-radius: 5px;
}
#diyimg{
    height: 1px;
    width:1px;
    display:inline-block;
    visibility: hidden;
}
.contact_control{
    display: flex;
}
.contact_control button{
    margin: 16px 10px 16px 10px
}