.searchTable{
    width: 100%;
    margin: 10px 0 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.searchTable input{
    height: 30px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border: none;
    flex-basis: 60%;
    border-radius: 8px 0 0 8px;
}
#searchButton{
    height: 40px;
    width: 100px;
    margin-left: 0;
    border-radius: 0 8px 8px 0;
}